.matero-container-wrap {
    height: unset !important;
    min-width: fit-content;
    overflow: auto;
  }
  
  .matero-container {
    height: unset !important;
  }
  
  .mat-sidenav-content {
    min-width: fit-content !important;
    min-height: fit-content !important;
    width: 100% !important;
    height: 100% !important;
  }
  
  .nav-spacer {
    position: relative;
    height: 140px;
  }
  
  .matero-header {
    position: fixed;
    width: 100%;
    max-height: 140px;
    top: 0;
  
    .mat-toolbar {
      color: white;
    }
  
    .icon-lg {
      transform: scale(1.4);
    }
  
    .mat-toolbar-single-row {
      background-image: linear-gradient(270deg, rgba(26, 102, 172, 1) 55%, rgba(0, 163, 214, 1) 100%);
      padding: .8rem 3rem;
      height: 100%;
  
      .matero-branding img {
        width: 200px;
      }
  
      app-user {
        font-weight: bold;
        margin-bottom: .5rem;
  
        .matero-user-avatar {
          width: 46px;
          margin-right: .8rem;
        }
  
        a {
          font-size: 16px;
          transition: 200ms ease-in all;
          padding: .5rem .8rem;
          border-radius: .8rem;
  
          &:hover {
            text-decoration: none;
            color: white !important;
            background-color: transparent;
          }
        }
      }
    }
  }
  
  .matero-topmenu-inner {
    background-color: #f0f0f0;
    padding: .2vw 1vw;
    white-space: pre-wrap;
  
    a {
  
      mat-icon {
        font-size: 1.8vw;
        height: fit-content;
        width: fit-content;
      }
    }
  
    button {
      mat-icon {
        margin-right: -8px;
        font-size: 1.6vw;
        height: fit-content;
        width: fit-content;
      }
    }
  
    .mat-button {
      color: #1d1d1d;
      padding: 0 .8vw;
      margin: 0 .2vw;
      font-weight: 400;
      font-size: .9vw;
  
      &:hover {
        color: #1d1d1d !important;
        text-decoration: none;
      }
    }
  }
  
  .matero-content {
    padding: 1rem 4rem;
  
    .matero-page-header {
      color: #1A66AC;
    }
  
    .matero-page-title {
      font-weight: 500;
    }
  }
  
  .h2 {
    font-size: 2.5rem;
    text-align: right;
  }
  
  .empresa-header {
    border-left: 1px rgba(255, 255, 255, .5) solid;
    margin: 0 0 0 1em;
    color: white;
    padding: .4em 1em;
    width: fit-content;
    margin-top: -.4rem;
  
    .empresa-span {
      align-items: flex-end !important;
      max-width: 15rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  
    span {
      font-family: "Gilroy" !important;
      line-height: normal;
      display: flex;
      font-weight: 400;
      font-size: 14px;
      align-items: center;
    }
  
    h6 {
      font-family: "Gilroy" !important;
      line-height: 95%;
      font-weight: 500;
      font-size: 26px;
      margin-bottom: 0;
    }
  }
  
  .date-time {
    border-left: 1px rgba(255, 255, 255, .5) solid;
    border-right: 1px rgba(255, 255, 255, .5) solid;
    color: white;
    padding: .4em 1em;
    margin: 0 1em 0 0;
    width: fit-content;
    margin-top: -.4rem;
  
    .date-time-text {
      padding: 0 .5rem;
    }
  
    span {
      font-family: "Gilroy" !important;
      line-height: normal;
      display: flex;
      font-weight: 400;
      font-size: 14px;
      align-items: center;
    }
  
    h6 {
      font-family: "Gilroy" !important;
      line-height: 95%;
      font-weight: 500;
      font-size: 26px;
      margin-bottom: 0;
    }
  }